<button id="modal-button" type="button" data-toggle="modal" data-target="#myModal" class="modal-b" >Zadaci</button>
<div id="myModal" class="modal fade  container" role="dialog">
    <div class="modal-dialog">

        <div class="modal-body"></div>
            <button type="button" data-dismiss="modal" class="close">Close</button>
    </div>

</div>

