<!DOCTYPE html>
<html>
  <head>

    <title>Evidencija projekata</title>
    <link rel="icon" href="/images/ikona.png" type="image/x-icon">
    <link rel="icon" href="/images/ikona.png" type="image/x-icon">
    <link rel="stylesheet" href="/bootstrap/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/indexStyle.css' />
  </head>
  <body class="background-image">
  <div class="custom-div">

    <h1>Evidencija projekata</h1>
    <div class="buttons">
    <button onclick="location.href='/users/login'" class="btn">Prijava</button>

    <button onclick="location.href='/users/signin'" class="btn">Registracija</button>
  </div>
  </div>
  </body>
</html>
